.tailleImg{
  max-width:500px;
  max-height:500px;
}

.partieAffichageIntro{
  display: grid;
  margin-top:50px;
  grid-template: 
            "b a" auto
            "b c" 1fr;
  grid-gap: 10px;
}

.partieAffichageIntro.reverse{
  grid-template: 
            "a b" auto
            "c b" 1fr;
}

.partieAffichageIntro > h2{
  grid-area: a;
}

.partieAffichageIntro > img{
  grid-area: b;
}

.partieAffichageIntro > p{
  grid-area: c;
}